@model Library.Presentation.Models.Pagination.CompanyPagination

<div class="portlet-title">
    <div class="caption caption-md">
        <i class="icon-bar-chart theme-font hide"></i>
        <span class="caption-subject theme-font bold uppercase">Editoras</span>
        <span class="caption-helper hide">weekly stats...</span>
    </div>
    <div class="inputs">
        <div class="portlet-input input-inline input-small ">
            <div class="input-icon right">
                <i class="icon-magnifier"></i>
                <input type="text" name="txtCompany" data-type="txtList" data-controller="Company" data-container="partial-CompanyList" class="form-control form-control-solid" placeholder="buscar...">
            </div>
        </div>
    </div>
</div>
<p>
    <a href="#" data-type="New" data-controller="Company"><i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp; Incluir</a>
</p>
<div id="partial-CompanyList">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Instance.Name)
            </th>
            <th></th>
        </tr>
        @if (Model != null)
        {
            foreach (var item in Model.Company.Dados)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a href="#" data-type="Update" data-id="@item.Id" data-controller="Company">Editar</a> | 
                        <a href="#" data-type="Delete" data-id="@item.Id" data-controller="Company">Excluir</a>
                    </td>
                </tr>
            }
        }
    </table>
    <hr />
    <div style="float:right">
        <ul class="pagination">
            <li><a href="#" class="item-name primary-link disabled">Page</a></li>
            @foreach (var item in Model.Company.Paginas)
            {
                if (item.HasValue)
                {
                    <li><a href="#" class="item-name primary-link" data-type="pageList" data-controller="Company" data-container="partial-CompanyList" data-search="txtCompany" data-page="@item.Value">@item.Value</a></li>

                    }
                    else
                    {
                        <li><a href="#">...</a></li>
                    }
                }
                <li><span>@Model.Company.Dados.Count Registros de @Model.Company.ColecaoQauntidade</span></li>
        </ul>
    </div>
    <br />
    <br />
</div>
